<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*/ <head th:insert="~{fragments/fragments :: head('Cadastro de Usuário')}"></head> /*/-->

<body>
	<!-- /*/ <span th:if="${session.usuarioLogado}"/> /*/ -->

	<!--/*/ <div th:replace="~{fragments/fragments :: menu}"></div> /*/-->
	
	<!--/*/ <div th:replace="~{fragments/fragments :: header('Cadastro de Usuário')}"></div> /*/-->
	
	<div class="container">
		<p class="alert alert-primary" th:text="${mensagem}" th:if="${mensagem != null}"></p>
		
		<form class="form" th:action="@{cadastrar}" method="POST" th:object="${aluno}">
			<div class="form-group">
			    <label for="nome">Nome</label>
			    <input type="text" class="form-control" th:field="*{nome}" required="required">
		  	</div>
		  	
		  	<div class="form-group">
			    <label for="dataNascimento">Data de Nascimento</label>
			    <input type="text" class="form-control" th:field="*{dataNascimento}" placeholder="DD/MM/AAAA" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required>
		  	</div>
	
			<input type="submit" class="btn btn-dark" value="Cadastrar"/>
		</form>
	</div>
	
	<!--/*/ <th:block th:replace="~{fragments/footerinc :: footer}"/> /*/-->
	
</body>
</html>