<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<!-- HEAD -->

<head th:fragment="head(titulo)">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/fontawesome/css/all.css}" />
</head>

<body>

	<!-- HEADER -->

	<div th:fragment="header(cabecalho)" class="container py-2">
		<h4 class="pt-2" th:text="${cabecalho}"></h4>
		<hr>
	</div>
	
	<!-- MENU PRINCIPAL -->
	
	<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">ManaClass</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${session.usuarioLogado != null}">
			<ul class="navbar-nav mr-auto">
	     		<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarCadastros" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Cadastro
					</a>
					
					<div class="dropdown-menu" aria-labelledby="navbarCadastros">
						<a class="dropdown-item" th:href="@{/aluno/cadastro}">Estudante</a>
						
						<a class="dropdown-item" th:href="@{/aluno}">Notas</a>
					</div>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" th:href="@{/aluno/relatorio}">
						Relatório
					</a>
				</li>
	     	</ul>
	     	
			<ul class="navbar-nav text-white">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" 
					href="#" id="navbarCadastros" role="button" 
					data-toggle="dropdown" aria-haspopup="true" 
					aria-expanded="false" th:text=" ${session.usuarioLogado.email} "></a>
					
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarCadastros">
						<a class="dropdown-item" th:href="@{/usuarios/cadastro}">Editar</a>
						
						<a class="dropdown-item" th:href="@{/login/out}">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	
	<!-- FOOTER -->
	
	<footer th:fragment="footer" class="fixed-bottom bg-dark text-white p-3">
		<div class="container">
			&copy; Mauricio Pereira da Costa Junior <br />
			Francisco Ícaro	
		</div>
	</footer>
	
	<!-- SCRIPTS -->
	
	<th:block th:fragment="scripts">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</th:block>

</body>
</html>