<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*/ <head th:insert="~{fragments/fragments :: head('Cadastro de Usuário')}"></head> /*/-->

<body>
<!-- /*/ <span th:if="${session.usuarioLogado}"/> /*/ -->

<!--/*/ <div th:replace="~{fragments/fragments :: menu}"></div> /*/-->

<!--/*/ <div th:replace="~{fragments/fragments :: header('Cadastro das faltas do aluno')}"></div> /*/-->

<div class="container">
	<p class="alert alert-primary" th:text="${mensagem}" th:if="${mensagem != null}"></p>

	<form class="form" th:action="@{/aluno/{id}/atualizar-faltas-aluno(id=${aluno.id})}" method="POST" th:object="${aluno}">
		<div class="form-group">
			<label for="faltas">faltas</label>
			<input type="text" class="form-control" th:field="*{faltas}">
		</div>
		<input type="submit" class="btn btn-dark" value="Cadastrar"/>
	</form>
</div>

<!--/*/ <th:block th:replace="~{fragments/footerinc :: footer}"/> /*/-->

</body>
</html>